<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LeafTaps" verbose="5" parallel="classes">
	<listeners>
		<listener class-name="lib.listeners.TestNGListener"></listener>
	</listeners>
	<parameter name="url" value="http://leaftaps.com/opentaps"></parameter>
	<parameter name="usrname" value="DemoSalesManager"></parameter>
	<parameter name="pwd" value="crmsfa"></parameter>

	<test name="Leads">

		<classes>


			<class name="tests.DeleteLead" />
			<class name="tests.DuplicateLead" />

			<class name="tests.EditLead" />
			<class name="tests.CreateLead" /> 
			<class name="tests.MergeLead" />


		</classes>
	</test> <!-- Leads -->
</suite> <!-- LeafTaps -->
